.card1{

	-fx-background-color: #9db07b;
	-fx-border-color : #ffffff;
	-fx-border-width: 2px 2px 2px 2px;
	-fx-border-radius: 20px;
	-fx-background-radius: 20px;
	-fx-border-style: solid;

}
.mainPan{
	
-fx-background-color: #fafcf5;
-fx-border-color: #fafcf5;
-fx-border-width: 2px 2px 2px 2px;
-fx-border-style: solid;

}
.scrollpan{
	-fx-background-color: #e8eddf;
	-fx-border-color : #e8eddf;
	-fx-border-width: 2px 2px 2px 2px;
	-fx-border-radius: 25px;
	-fx-background-radius: 25px;
	-fx-border-style:dashed;
}
.searchpan{
	
	-fx-background-color: #fafcf5;
		-fx-border-color : #e8eddf;
		-fx-border-width: 2px 2px 2px 2px;
		-fx-border-radius: 25px;
		-fx-background-radius: 25px;
		-fx-border-style:dashed;	
}

.search_text_Field{
	
	-fx-background-color: #fafcf5;
			-fx-border-color : #fafcf5;
			-fx-border-width: 2px 2px 2px 2px;
			-fx-border-radius: 25px;
			-fx-background-radius: 25px;
			-fx-border-style:dashed;	
	}
	
.main_par{
	
	-fx-background-color: #e8eddf;
	-fx-border-color : #e8eddf;
	-fx-border-width: 2px 2px 2px 2px;
	-fx-border-style:dashed;

}

.circle{

	-fx-background-color: #d3deb8;
	-fx-border-color : #d3deb8;
	-fx-border-width: 2px 2px 2px 2px;
	-fx-border-radius: 90px;
	-fx-background-radius: 90px;
	-fx-border-style: solid;

}

.scrollpan2{
	-fx-background-color: #e8eddf;
	-fx-border-color : #e8eddf;
	-fx-border-width: 2px 2px 2px 2px;
	-fx-border-style:dashed;
}
