.dialog-pane {
    -fx-background-color: #f6f6f6;
    -fx-border-color: #3e6a13;
    -fx-border-width: 3px;
    -fx-padding: 20px;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;

    
}

.button {
    -fx-background-color: #3e6a13;
    -fx-text-fill: white;
    -fx-background-radius: 5px;
}

.button:hover {
    -fx-background-color: #eaf9d5; 
}

.label {
    -fx-text-fill: #333; 
    -fx-font-size: 14px;
}

.dialog-pane .header .graphic {
    -fx-opacity: 0; 
}
